.landing {
    background-image: url("../img/h_img.jpg");
    padding: 5%;
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.portfolio1 {
    text-align: center; 
    margin: 1.5px;
    padding-top: 40px;
}
.portfolio2 {
    text-align: center;
    margin: 1.5%;
}
.about {
    text-align: center;
    margin: 1.5%;
    padding-top: 40px;
}
.keyboard {
    background-image: url("../img/s_image.jpg");
    padding: 5%;
    text-align: center;
    color: white;
}
.what{
    text-align: center;
    padding-top: 40px;
}
.contact{
    background-image: url("../img/c_image.jpg");
    text-align: center;
    color: white;
    padding-top: 40px;
   
}
.hola{
    background-color: transparent;
    opacity: 0.4;
}
.media {
    text-align: center;
    margin-left: 30%;
    padding-top: 40px;
}