:root {
        --ic-brand-primary-darkened-5: #879144;
--ic-brand-primary-darkened-10: #808940;
--ic-brand-primary-darkened-15: #79823D;
--ic-brand-primary-lightened-5: #939D50;
--ic-brand-primary-lightened-10: #99A259;
--ic-brand-primary-lightened-15: #9EA762;
--ic-brand-button--primary-bgd-darkened-5: #879144;
--ic-brand-button--primary-bgd-darkened-15: #79823D;
--ic-brand-button--secondary-bgd-darkened-5: #4A4A4A;
--ic-brand-button--secondary-bgd-darkened-15: #424242;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #1B60C6;
--ic-link-color-lightened-10: #3378DE;
--ic-brand-primary: #8e9847;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #1d6adb;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #4d4d4d;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #000000;
--ic-brand-global-nav-ic-icon-svg-fill: #76FF03;
--ic-brand-global-nav-ic-icon-svg-fill--active: #33691E;
--ic-brand-global-nav-menu-item__text-color: #f2f2f2;
--ic-brand-global-nav-menu-item__text-color--active: #76FF03;
--ic-brand-global-nav-avatar-border: #44f;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #fff;
--ic-brand-global-nav-logo-bgd: #000;
--ic-brand-header-image: url('https://instructure-uploads-eu.s3-eu-west-1.amazonaws.com/account_118060000000000001/attachments/25/Moringa%20Logo-02.png');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: url('https://instructure-uploads-eu.s3-eu-west-1.amazonaws.com/account_118060000000000001/attachments/31/MORINGA%20TREE%20WHITE.png');
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads-eu.s3-eu-west-1.amazonaws.com/account_118060000000000001/attachments/23/Moringa%20Logo-02.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-eu.s3-eu-west-1.amazonaws.com/account_118060000000000001/attachments/16/MORINGA%20TREE%20WHITE.png');
--ic-brand-msapplication-tile-color: #33691E;
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-eu.s3-eu-west-1.amazonaws.com/account_118060000000000001/attachments/19/MORINGA%20TREE%20WHITE.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-eu.s3-eu-west-1.amazonaws.com/account_118060000000000001/attachments/27/MORINGA%20TREE%20WHITE.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads-eu.s3-eu-west-1.amazonaws.com/account_118060000000000001/attachments/24/Moringa%20Logo-02.png');
--ic-brand-Login-body-bgd-color: #ffffff;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #f2f2f2;
--ic-brand-Login-logo: url('https://instructure-uploads-eu.s3-eu-west-1.amazonaws.com/account_118060000000000001/attachments/30/Moringa%20Logo-01.png');
--ic-brand-Login-Content-bgd-color: #ffffff;
--ic-brand-Login-Content-border-color: #33691E;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: #edfff2;
--ic-brand-Login-Content-label-text-color: #4c4931;
--ic-brand-Login-Content-password-text-color: #444444;
--ic-brand-Login-footer-link-color: #f8fffe;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }